extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-5.m-b-2 #{message}
                
                div
                    a(href="/user/login") login page
