extends layout

block content
    p.display-4.highlightBlue L'Amicale
    .main.container
        br
        p.lead Hello ! Bienvenue sur le site de l'Amicale Core ! Le but était d'avoir une gestion informatique des membres, stocks, achats, vente et évènements pour les membres du bureau. L'Amicale est peuplée par des êtres bienveillants prêts à tout (vraiment tout) pour votre confort :) 
        br
    p.display-4.highlightBlue Le Site
    .main.container
        br
        p Ce site a été créé dans la joie et la bonne humeur par Alexandre Weisser en Aout 2017. Puis déployé/hébergé en collaboration avec Cédric Chavaudra
        p Serveur : NodeJS, BDD : mysql.
