extends layout

block content
    p.display-3.highlightBlue L'Amicale
    .main.container
        br
        p.lead Hello ! Bienvenue sur le site de l'Amicale Core ! Notre amicale se situe au premier étage du département informatique de l'IUT Robert Schuman à Illirch et est peuplé par des êtres bienveillants prêt à tout (vraiment tout) pour votre confort :) 
    p.display-3.highlightBlue 
    p.display-3.highlightBlue Le Site
    .main.container
        br
        p Cette app a été créée dans la joie et la bonne humeur par Alexandre Weisser en Aout 2017.
