extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Sign Up

                // register form
                form(method='POST' action='/user/register')
                    div.form-group
                        label(for='prenom') Prénom
                        input#name.form-control(type='text', placeholder='first name' name='firstname')
                        label(for='nom') Nom (pour te retrouver)
                        input#name.form-control(type='text', placeholder='first name' name='name')
                    div.form-group 
                        label(for='password') Mot de passe (totalement encrypté, personne ne le verra)
                        input#pw.form-control(type='password' name='password')
                    div.form-group
                        label(for='confirmPassword') Mot de passe de confirmation
                        input#pw2.form-control(type='password' name='confirmPassword')
                    button.btn.btn-primary(type='submit') Entrez dans la secte !
