extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Options
                
                form(method='POST' action='/user/update')
                    div.form-group
                        label(for='remarque') Remarque (500 car. max)
                        input#amount.form-control(type='amount'  name='remarque')
                    div.form-group
                        label(for='psw') Mot de passe (6 car. min)
                        input#pw.form-control(type='password' placeholder='psw' name='psw')
                    div.form-group
                        label(for='pswConfirm') Mot de passe de confirmation
                        input#pw.form-control(type='password' placeholder='psw confirm' name='pswConfirm')
                    button.btn.btn-primary(type='submit') Update 'dat sweet account
