.drinkCss{
    background-color: rgb(122, 206, 255);
}
.foodCss{
    background-color: rgb(255, 199, 121);
}
.eventCss{
    background-color: rgb(153, 255, 147);
}
.otherCss{
    background-color: rgb(211, 201, 190);
}
