.center-block{
    margin : auto;
    width: 50%;
}

.items{
    display: flex;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(220,235,255);
    padding: 3vw;
    width : 100%;
    margin : 2px;
}

.news{
    background-color: rgba(255, 199, 121,0.3);
    border-radius: 10px 10px 0px 10px;
    margin-top: 50px;
}

#newscontent{
    background-color: rgba(255, 199, 121,0.2);
    margin-left: 15px;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
-webkit-box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.75);
box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.75);
}

a:hover{
    text-decoration: none;
}

.items:hover{
    background-color: rgb(255, 238, 206);
}
