extends ../layout

block style
    link(rel='stylesheet', href='/stylesheets/staff.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/stylesheets/shop.css')
    link(rel='stylesheet', href='/stylesheets/colorCat.css')
