extends layout

block content
    p#message
    div.external-legend#Legend
    div#visualization
    script( src="../vis/dist/vis.js")
    script( src="../javascripts/stat.js")
    link( href="../vis/dist/vis.css" rel="stylesheet" type="text/css")
    
    
