extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Donner des c.c.
                
                form(method='POST' action='/user/dashboard/giveMoney')
                    div.form-group
                        label(for='amount') Combien ?
                        input#amount.form-control(type='amount'  placeholder='quantité' name='amount')
                    div.form-group
                        label(for='idToGive') Id de l'heureux élu
                        input#id.form-control(type='text' placeholder='ID receveur' name='idToGive')
                    div.form-group
                        label(for='password') Mot de passe de confirmation
                        input#pw.form-control(type='password' placeholder='psw confirm' name='password')
                    button.btn.btn-primary(type='submit') Make it rain !
